// Initializing Color Variables
$myBlue: #2D89E6;
$myRed: #FF4A4A;
$myGrey: #F6F6F6;
$myBrown: #484848;
$borderColor: #C3C3C3;

$primary-font: "Segoe UI";

@mixin applyFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: $primary-font;
}

html, body {
    height: 100%;
    flex-direction: column;
}

header {
    padding: 10px;
    background: $myBlue;
    @include applyFlex();
    color: white;
    h1 {
        font-size: 22px;
    }
}

.main-content {
    @include applyFlex();
    padding: 0px 8%;
    height: 93.5%;
    
    .left-side {
        border: 1px solid $borderColor;
        margin-right: 20px;
        border-radius: 15px;
        width: 33%;
        padding: 5px;

        .form {
            padding: 15px;
            form {
                * {
                    margin: 10px 0px;
                }
                .label {
                    text-align: center;
                    padding: 10px;
                    b {
                        font-size: 18px;
                        color: #707070;
                    }
                }
                input.wide {
                    border: 1px solid $borderColor;
                    width: 100%;
                    padding: 17px;
                    border-radius: 10px;
                }
                .small-input {
                    width: 55px; 
                }
            }
        }
        button {
            background: $myBlue;
            color: white;
            font-size: 18px;
            width: 100%;
            display: block;
            border: none;
            border-radius: 0px 0px 15px 15px;
            padding: 10px;
            margin-top: 10px;
        }
    }

    .right-side {
        width: 66%;
        background: $myGrey;
        height: 100%;
        padding: 30px 10px;
    }

}