* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Segoe UI";
}

html, body {
  height: 100%;
}

header {
  padding: 10px;
  background: #2D89E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

header h1 {
  font-size: 22px;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 8%;
  height: 93.5%;
}

.main-content .left-side {
  border: 1px solid #C3C3C3;
  margin-right: 20px;
  border-radius: 15px;
  width: 25%;
}

.main-content .left-side .form {
  padding: 15px;
}

.main-content .left-side .form form * {
  margin: 5px 0px;
}

.main-content .left-side .form form .label {
  text-align: center;
  padding: 10px;
}

.main-content .left-side .form form .label b {
  font-size: 18px;
  color: #707070;
}

.main-content .left-side .form form .wide {
  border: 1px solid #C3C3C3;
  width: 100%;
  padding: 17px;
  border-radius: 10px;
}

.main-content .left-side .form form .small-input {
  width: 50px;
  text-align: center;
}

.main-content .left-side .form form .checkbox {
  font-size: 13px;
}

.main-content .left-side button {
  background: #2D89E6;
  color: white;
  font-size: 18px;
  width: 100%;
  border: none;
  border-radius: 0px 0px 15px 15px;
  padding: 10px;
}

.main-content .right-side {
  width: 66%;
  background: #F6F6F6;
  height: 100%;
}

.main-content .right-side .search-bar {
  width: 100%;
  color: white;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content .right-side .search-bar .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  background: #2D89E6;
  padding: 10px 20px;
  border-radius: 0px 20px 20px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content .right-side .search-bar .left * {
  display: inline;
  font-size: 12px;
  border-radius: 3px;
  border: none;
  padding: 2px;
}

.main-content .right-side .search-bar .left span {
  padding: 0px 15px;
}

.main-content .right-side .search-bar .left span select {
  width: 60px;
}

.main-content .right-side .search-bar .left .middle-borders {
  border-radius: 0px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.main-content .right-side .search-bar .right {
  background: #2D89E6;
  padding: 10px 20px;
  border-radius: 20px 0px 0px 20px;
}

.main-content .right-side #content {
  height: 89%;
  overflow-y: scroll;
}

.main-content .right-side #content .element {
  width: 100%;
  height: 90px;
  margin: 25px 0px;
  padding: 0px 15px;
  cursor: pointer;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
}

.main-content .right-side #content .element .img-span {
  height: 100%;
  width: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .right-side #content .element .img-span img {
  border-radius: 50%;
}

.main-content .right-side #content .element .text-span {
  padding-left: 10px;
}

.main-content .right-side #content .element .text-span p {
  padding: 5px;
}

.main-content .right-side #content .element .text-span .inline {
  display: inline;
}

.main-content .right-side #content .element .text-span .member-name {
  font-weight: bold;
  font-size: 20px;
}

.main-content .right-side #content .element .text-span .member-info {
  font-weight: bold;
  font-size: 14px;
  color: #2D89E6;
}

.main-content .right-side #content .element .text-span .member-details {
  font-size: 14px;
  color: #6A6A6A;
}
/*# sourceMappingURL=style.css.map */