// Initializing Color Variables
$myBlue: #2D89E6;
$myRed: #FF4A4A;
$myGrey: #F6F6F6;
$myBrown: #484848;
$borderColor: #C3C3C3;


$primary-font: "Segoe UI";

@mixin applyFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: $primary-font;
}

html, body {
    height: 100%;
}

header {
    padding: 10px;
    background: $myBlue;
    @include applyFlex();
    color: white;
    h1 {
        font-size: 22px;
    }
}

.main-content {
    @include applyFlex();
    padding: 0px 8%;
    height: 93.5%;
    
    .left-side {
        border: 1px solid $borderColor;
        margin-right: 20px;
        border-radius: 15px;
        width: 25%;

        .form {
            padding: 15px;
            form {
                * {
                    margin: 5px 0px;
                }
                .label {
                    text-align: center;
                    padding: 10px;
                    b {
                        font-size: 18px;
                        color: #707070;
                    }
                }
                .wide {
                    border: 1px solid $borderColor;
                    width: 100%;
                    padding: 17px;
                    border-radius: 10px;
                }
                .small-input {
                    width: 50px;
                    text-align: center;
                }
                .checkbox {
                    font-size: 13px;
                }
            }
        }
        button {
            background: $myBlue;
            color: white;
            font-size: 18px;
            width: 100%;
            border: none;
            border-radius: 0px 0px 15px 15px;
            padding: 10px;
        }
    }

    .right-side {
        width: 66%;
        background: $myGrey;
        height: 100%;

        .search-bar {
            width: 100%; 
            color: white;
            padding-top: 40px;
            display: flex;
            justify-content: space-between;
            .left {
                * {
                    display: inline;
                    font-size: 12px;
                    border-radius: 3px;
                    border: none;
                    padding: 2px;
                }
                display: flex;
                width: 75%;
                background: $myBlue;
                padding: 10px 20px;
                border-radius: 0px 20px 20px 0px;
                justify-content: center;
                span {
                    padding: 0px 15px;
                    select {
                        width: 60px;
                    }
                }
                .middle-borders {
                    border-radius: 0px;
                    border-left: 1px solid white;
                    border-right: 1px solid white;
                }
            }
            .right {
                background: $myBlue;
                padding: 10px 20px;
                border-radius: 20px 0px 0px 20px;
            }
        }
        
        #content {
            height: 89%;
            overflow-y: scroll;
            .element {
                width: 100%;
                height: 90px;
                margin: 25px 0px;
                padding: 0px 15px;
                cursor: pointer;
                overflow: hidden;
                display: flex;
                flex-direction: row;
                align-content: center;

                .img-span {
                    height: 100%;
                    width: 38px;
                    @include applyFlex();
                    img {
                        border-radius: 50%;
                    }
                }
                .text-span {
                    padding-left: 10px;
                    p {
                        padding: 5px;
                    }
                    .inline {
                        display: inline;
                    }
                    .member-name {
                        font-weight: bold;
                        font-size: 20px;
                    }
                    .member-info {
                        font-weight: bold;
                        font-size: 14px;
                        color: $myBlue;
                    }
                    .member-details {
                        font-size: 14px;
                        color: #6A6A6A;
                    }
                }
            }
        }
    }
}